.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  margin-bottom: 60px;
}

.card-technique {
  width: 100%;
  border-radius: 5px;
  text-align: center;
  padding: 20px;
  background-color: #f8f9fa;
}

.card {
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.05);
  text-align: center;
  padding: 30px;
  width: 400px; /* Largeur fixe propre */
  border: 1px solid rgb(240,240,240);

  display: flex;
  flex-direction: column;
  align-items: center;
}

.card img {
  width: 100px;
  margin-bottom: 20px;
}

.card p {
  opacity: 0.7;
  line-height: 1.5;
}

@media(max-width: 768px) {
  .card {
    width: 100%;
  }
}
