.footer {
  text-align: center;
  padding: 50px;
  background-color: #2c2b2b;
}

.footer .links {
  margin-bottom: 20px;
}

.footer a {
  font-size: 26px;
  color: #1EDD88;
  margin: 0 15px; 
  transition: color 0.3s ease;
}

.footer a:hover {
  color: white;
}

.footer p {
  color: #6B6C6C;
  margin-bottom: 0;
}

.footer .fas {
  color: #BF0F12;
}
